<mat-toolbar color="primary" class="footer">
    <ul>
        <li><a href="" id="footer-about">{{cmsData?.cmsData.footer.aboutUs}}</a></li>
        <li><a href="" id="footer-tandc">{{cmsData?.cmsData.footer.termsAndConditions}}</a></li>
        <li><a href="" id="footer-policy">{{cmsData?.cmsData.footer.policy}}</a></li>
        <li><a href="" id="footer-accessibility">{{cmsData?.cmsData.footer.accessibility}}</a></li>
        <li><a href="" id="footer-contact">{{cmsData?.cmsData.footer.contactUs}}</a></li>
    </ul>
</mat-toolbar>